version: '3.8'

services:
  db:
    image: postgres:15
    container_name: efrota_db
    environment:
      POSTGRES_DB: efrota
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5434:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres-data:
